.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.heading {
  font-size: 1.3rem;
  font-family: 'MPlantin';
  color: rgb(183, 225, 241);
  text-shadow: 6px -1px 5px rgba(7, 29, 53, 0.774);
  text-align: center;
  margin: 5px;
}
.symbol {
  height: 15%;
  padding: 5px;
}
.theros-symbol {
  height: 30%;
  padding-bottom: 10px;
}

.manafont {
  margin: 5px;
}
