.header {
  width: 100vw;
  height: 80px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 10%,
      rgba(0, 0, 0, 0.6) 80%
    ),
    url(../assets/manawallpaper.jpg), transparent;
  background-size: cover;
}

.header:hover {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.404) 10%,
      rgba(0, 0, 0, 0.301) 80%
    ),
    url(../assets/manawallpaper.jpg), transparent;
  background-size: cover;
}

.header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 40px;
}
.logo {
  height: 80%;
  margin: 5px 0px 20px 0px;
}

.title {
  margin: 10px 0px 0px 12px;

  font-size: 1.5rem;
  color: rgb(227, 223, 250);
  font-family: 'MPlantin';
  letter-spacing: 0.04rem;
  font-weight: lighter;
}

.header-text {
  color: rgb(227, 223, 250);
  font-family: 'MPlantin';
  font-size: 1rem;
  flex-grow: 1;
  margin-top: 7px;
}
